# Environnement virtuel
venv/
env/
ENV/
.venv

# Cache Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python


# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Fichiers volumineux (modèles, caches)
.cache/
*.pth
*.pt
*.bin
models/
gpt2_weights/

# Dataset 
sms_spam_collection.zip
sms_spam_collection/
chroma_db/
data/





